.input-wrapper {
  margin-bottom: 50px;
  margin-top: 20px;
}

.input-label {
  color: #b9c9d1;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
  margin-left: 4px;
}

.input-box {
  width: 450px;
  height: 73px;
  outline: none;
  border: 2px solid #252329;
  background: #3c393f;
  border-radius: 6px;
  transition: 0.4s ease;
  padding: 8px 12px;
  font-size: 22px;
  color: #fafafa;
}

.input-box:focus {
  border: 2px solid #21b6b7;
}
