@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.header-main-text {
  font-size: 60px;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.3px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 26px;
}

.header-main-text span {
  color: #21b6b7;
}

.header-sub-text {
  color: #b9c9d1;
  font-size: 26px;
  font-weight: 800;
}
